<footer class="text-center text-white" style="background-color: #000">
  <div class="container">
    <section>
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase fs-6 fw-bold">
            <a routerLink="" class="text-decoration-none">home</a>
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase fs-6 fw-bold">
            <a routerLink="/projects" class="text-primary text-decoration-none"
              >projects</a
            >
          </h6>
        </div>

        <div class="col-md-2">
          <h6 class="text-uppercase fs-6 fw-bold">
            <a routerLink="/contact" class="text-primary text-decoration-none"
              >contact</a
            >
          </h6>
        </div>
      </div>
    </section>

    <hr class="my-5" />

    <section class="mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Crafted with passion by John Doe. Building beautiful and responsive
            web experiences, one line of code at a time.
          </p>
        </div>
        <div class="col-12">
          <div
            class="d-flex flex-column flex-md-row justify-content-md-between"
          >
            <p>
              <span class="text-primary fw-bold">Phone:</span> (+20) 12345678
            </p>
            <p>
              <span class="text-primary fw-bold">Email:</span>
              JohnDoe&#64;pro.com
            </p>
            <p>
              <span class="text-primary fw-bold">Address:</span> Newyork st-19,
              main street.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="text-center mb-5">
      <a
        href="https://www.facebook.com"
        target="_blank"
        class="text-white me-4"
      >
        <img src="/facebook.svg" alt="facebook" style="width: 30px" />
      </a>
      <a href="https://www.x.com" target="_blank" class="text-white me-4">
        <img src="/twitter.svg" alt="twitter" style="width: 30px" />
      </a>
      <a
        href="https://www.linkedin.com"
        target="_blank"
        class="text-white me-4"
      >
        <img src="/linkedin.svg" alt="linkedin" style="width: 30px" />
      </a>
      <a
        href="https://www.instagram.com"
        target="_blank"
        class="text-white me-4"
      >
        <img src="/instagram.svg" alt="instagram" style="width: 30px" />
      </a>
      <a href="https://www.github.com" target="_blank" class="text-white me-4">
        <img src="github.svg" alt="github" style="width: 30px" />
      </a>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Copyright:
    <a class="text-white" routerLink="">CrafedCode</a>
  </div>
</footer>
