<div class="p-3 d-flex flex-column gap-3 rounded skill-item mb-5">
  <div class="text-center">
    <img [src]="[skill.icon]" [alt]="[skill.title]" style="width: 60px" />
  </div>
  <h2 class="fs-3 text-center fw-bold skill-item-title">{{ skill.title }}</h2>
  <div
    class="progress"
    role="progressbar"
    aria-label="Basic example"
    aria-valuenow="0"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="progress-bar text-center fs-6"
      [ngStyle]="{ width: skill.percent + '%' }"
    >
      {{ skill.percent }}%
    </div>
  </div>
</div>
